@import "../../../scss/index.scss";

.top-register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: white;
    height: 50px;
    width: 100%;
    &__left{
        display: flex;
        align-items: center;
        height: 50px;

        &__logo {
            margin-top: 20px;
          width: 70px;
          padding: auto 10px;
        }
      }
    &__right{
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
}
.ingresar{
    background-color: gainsboro;
}
.registrarse{
    margin-right: 20px;
    background-color: gainsboro;
}
